.side-bar-card {
    height: 100vh;
    border-radius: 0%;
    position: fixed;
    width: 17vw;
    background-color:#355a92;
    z-index: inherit;
}
.side-card-body {
    margin-top: 50%;
}
.side-link-container{
  margin-bottom: 30px;
  cursor: pointer;
  padding-left: 40px;
}
.side-link-text {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}
